@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }  


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
  height: 3200px;
  // margin-top: 65px;


  @include mobile{
    height: 3230px;
  }

}

.home{
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template: 
  "presentacion" 820px
  "skills" 520px
  "projects" 720px
  "contact" 750px
  "footer" 390px /
  auto;

  &__presentation{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    grid-area: presentacion;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    &__welcome{
      color: blue;
      background-color: green;
    }

    &__container-text{
      display: flex;
      gap: 15px;
      font-size: 70px;
      color: white;
      width: 1100px;
      
      &__title{
        font-weight: 300;
      }

      &__dinamic-text{
        font-weight: 500;
        color: purple ;
      }
      
      @include mobile {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        width: 100%;
      }
    }

    

  }

  &__skills{
    background-color:black;
    grid-area: skills;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__container{
      position: absolute;
      top:-100px;
      background-color: #545454;
      border-radius: 50px;
      width: 50%;
      height: 100%;
    }
  }
  &__projects{
    background-color: aquamarine;
    grid-area: projects;
  }
  &__contact{
    background-color: purple;
    grid-area: contact;
  }
  &__footer{
    background-color: yellow;
    grid-area: footer;
  }

  @include mobile{
    grid-template: 
  "presentacion" 950px
  "skills" 550px
  "projects" 1200px
  "contact" 1200px
  "footer" 560px /
  auto;
  }
}

.navbar{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100 ;
  &__logo{
    margin-left: 50px;
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 32px;
    &__link{
    font-family: 'Fredoka One';
      color:white;
      text-decoration: none;
    }
    &__link-lastname{
    font-family: 'Fredoka One';
      color: #ffbd59;
    }
  }

  &__container-all{
    width: 40%;
    height: 100%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon{
    display: none;
    background-color: white;
    width: 25px;
    height: 25px;
    &__ham{
      width: 20px;
      height: 20px;
    }
   @include mobile{
    display: block;
    margin-right: 20px;
   }
    
  }
    &__list{
      width: 40%;
      height: 100%;
      // background-color: purple;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;


      &__item{
        &__link{
          font-size: 18px;
          letter-spacing: 3px;
          text-decoration: none;
          color: white;
        }
      }
    }
    &__buttons{
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // background-color: green;

      &__git{
        background-color: white;
        border-radius: 50%;
        background-image: url('../images/github.png');
        background-size: contain;
        width: 30px;
        height: 30px;
      }
    }
  
  @include mobile{
    height: 32px;

    &__container-all{
      display: none;
    }

    &__list{
      height: 120px;
      width: 100%;
      flex-direction: column;
    }
    &__buttons{
      height: 80px;
      width: 100%;
    }

    &__container-all-active{
      display: block;
      position: fixed;
      top: 32px;
      left: 0;
      flex-direction: column;
      height: 200px;
      width: 100%;
    }
  }
}

.navbar-active{
  background-color: black; 
}